<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Şifre Yenile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="./fragments/menu :: menu"></div>
<div align="center">
    <form th:action="@{/forgot}" th:object="${reset}" method="post" ><br/>
        <h4 th:text="${reset.email}"></h4>
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{token}">
        <input type="password" th:field="*{password}"  placeholder="Yeni Şifre"><br/><br/>
        <p th:if="${password}" th:text="${password}"></p><br/>
        <button type="submit">Yenile</button><br/>
    </form>
</div>
</body>
</html>